@use "../foundation/forward.scss" as *;

.p-header {
  background-color: $COLOR_THEME_RED;
}

.p-header__inner {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 70px;
  max-width: 1100px;
}

.p-header__title {
  font-family: "Pacifico", sans-serif;
  font-size: 35px;
  color: $COLOR_WHITE;
}
