@use "../foundation/forward.scss" as *;

.p-note__heading {
  margin: 0 auto;
  max-width: 730px;
  text-align: center;
  padding: 130px 0 0px;
  background-color: $COLOR_BLACK;
  border-bottom: 5px dotted $COLOR_WHITE;
}

.p-note__heading-icon {
  margin-bottom: 30px;
  > img {
    width: 70px;
    height: 70px;
  }
}

.p-note__heading-title {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

.p-note__heading-tag-wrapper {
  margin: 25px 0 40px;
  color: $COLOR_WHITE;
}

.p-note__heading-category-tag {
  font-size: 12px;
  margin: 0 9px;
  padding: 8px 13px;
  border-radius: 16px;
  &[data-category="dev"] {
    background-color: $COLOR_RED;
  }
  &[data-category="design"] {
    background-color: $COLOR_YELLOW;
  }
  &[data-category="other"] {
    background-color: $COLOR_GREEN;
  }
}
.p-note__heading-keyword-tag {
  margin: 0 3px;
  font-size: 12px;
  padding: 8px 13px;
  border-radius: 16px;
  background-color: $COLOR_WHITE;
  color: $COLOR_BLACK;
}

.p-note__heading-date {
  margin: 7px 0;
  padding-right: 10px;
  text-align: right;
  color: rgb(120, 120, 120);
  font-size: 14px;
}

.p-note__contents {
  margin: 70px auto;
  max-width: 700px;
  color: $COLOR_WHITE;
}
