@use "../foundation/forward.scss" as *;

.p-top__articles {
  padding: 50px 100px;
  margin: 0 auto;
  max-width: 1100px;
  @include sp {
    max-width: 600px;
    padding: 50px 30px;
  }
}

.p-top__articles-heading {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 10px;
  border-bottom: 1px solid #1d3557;
}

.p-top__articles-heading-title {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #333;
}

.p-top__all-article-link {
  align-self: flex-end;
  font-size: 12px;
  text-decoration: none;
  color: rgb(123, 123, 123);
}

.p-top__article-container {
  position: relative;
  margin-top: 50px;
  @include sp {
    margin-top: 30px;
  }
}

// Swiper
.swiper-button-style {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #333;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  transform: scale(1);
  &:hover {
    background-color: $COLOR_THEME_RED;
    color: $COLOR_WHITE;
    transition: 0.3s;
  }
  &:active {
    background-color: #c78f01;
    transition: none;
  }
  @include sp {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
}

.article-swiper-button-prev {
  @extend .swiper-button-style;
  top: calc(50% - 25px);
  left: -20px;
}

.article-swiper-button-next {
  @extend .swiper-button-style;
  top: calc(50% - 25px);
  left: calc(100% - 50px + 20px);
}

.swiper-button-disabled {
  transform: scale(0);
  transition: 0.2s;
}
