@use "../foundation/forward.scss" as *;

.p-top__heading {
  margin-top: 130px;
  text-align: center;
  background-color: $COLOR_BLACK;
}

.p-top__heading-inner {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
}

.p-top__heading-title {
  font-family: "Pacifico", sans-serif;
  font-size: 60px;
  color: #fff;
}

.p-top__articles {
  padding: 0 50px;
  margin: 0 auto;
  max-width: 900px;
  @include tb {
    max-width: 600px;
    padding: 50px 30px;
  }
}

.p-top__articles-title {
  font-family: "Pacifico", sans-serif;
  font-size: 45px;
  color: $COLOR_WHITE;
  letter-spacing: 1px;
}

.p-top__all-article-link {
  align-self: flex-end;
  font-size: 12px;
  text-decoration: none;
  color: rgb(123, 123, 123);
}

.p-top__article-container {
  position: relative;
  margin-top: 50px;
  @include tb {
    margin-top: 30px;
  }
}

// Swiper
.swiper-button-style {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $COLOR_WHITE;
  font-size: 30px;
  cursor: pointer;
  z-index: 100;
  transition: 0.3s;
  transform: scale(1);
  &:hover {
    background-color: $COLOR_RED;
    transition: 0.3s;
  }
  &:active {
    background-color: $COLOR_DARK_RED;
    transition: none;
  }
  @include tb {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
}

.article-swiper-button-prev {
  @extend .swiper-button-style;
  top: calc(50% - 25px);
  left: -30px;
}

.article-swiper-button-next {
  @extend .swiper-button-style;
  top: calc(50% - 25px);
  left: calc(100% - 50px + 20px);
}

.swiper-button-disabled {
  transform: scale(0);
  transition: 0.2s;
}
