@use "../foundation/forward.scss" as *;

.p-web__inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0 100px;
  @include tb {
    max-width: 600px;
    padding: 0 30px;
  }
}

.p-web__title {
  margin-bottom: 50px;
  text-align: center;
  > span {
    padding: 0 40px 10px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.8px;
    border-bottom: 2px solid $COLOR_BLACK;
  }
}

.p-web__article-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  @include tb {
    gap: 20px;
  }
  @include sp {
    gap: 10px;
  }
}
