@use "../foundation/forward.scss" as *;

.u-only-pc {
  @include sp {
    display: none;
  }
}

.u-only-tb {
  @include pc {
    display: none;
  }
  @include sp {
    display: none;
  }
}

.u-only-sp {
  @include pc {
    display: none;
  }
  @include tb {
    display: none;
  }
}
