@use "../foundation/forward.scss" as *;

.c-article-card {
  position: relative;
  border-radius: 10px;
  background-color: $COLOR_BLACK_LIGHT;
  border-radius: 10px;
  animation-name: cardOut;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  &:hover {
    animation-name: cardOver;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  &[data-type="archive"] {
    width: calc((100% - 90px) / 4);
    @include tb {
      width: calc((100% - 40px) / 3);
    }
    @include sp {
      width: calc((100% - 10px) / 2);
    }
  }
}

.c-article-card a {
  text-decoration: none;
}

.c-aricle-card__tag {
  position: absolute;
  padding: 10px 14px;
  border-radius: 10px 0 0 0;
  font-size: 12px;
  font-weight: bold;
  color: $COLOR_WHITE;
  &[data-category="dev"] {
    background-color: #dd515f;
  }
  &[data-category="design"] {
    background-color: #e7a350;
  }
  &[data-category="other"] {
    background-color: #04b687;
  }
  @include sp {
    padding: 8px;
  }
}

.c-article-card__icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 110px;
  @include tb {
    height: 100px;
  }
}

.c-article-card__icon img {
  width: 60px;
  height: 60px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.c-article-card__info {
  position: relative;
  padding: 20px;
  height: 80px;
  @include tb {
    padding: 10px;
    height: 75px;
  }
}

.c-article-card__title {
  line-height: 24px;
  color: $COLOR_WHITE;
  font-weight: bold;
  font-size: 16px;
  @include tb {
    font-size: 13px;
  }
}

.c-article-card__published-date {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 12px;
  color: rgb(120, 120, 120);
  @include tb {
    font-size: 10px;
    bottom: 10px;
    right: 10px;
  }
}
